.profileContainer {
  padding-left: 109px;
  padding-right: 90px;
}

.profileGrid {
  display: grid;
  grid-gap: 31px;
  grid-template-columns: auto 258px;
  grid-template-rows: 1fr min-content;
}

.graphsColumn {
  flex: 1;
  width: 100%;
  margin-right: 31px;
}

.statsColumn {
  width: 258px;
  max-width: 258px;
}

.graphsMultiColumns {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr min-content;
}

.graphi {
  height: 263px;
  width: 258px;
}