.profileContainer {
  padding-left: 109px;
  padding-right: 90px;
}

.profileGrid {
  display: flex;
  flex-direction: row;
}

.chartCardsContainer {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr min-content;

  > * {
    overflow: hidden;
    width: 100%;
    height: 263px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
  }
}


@media screen and (max-width: 1350px) {
  .profileContainer {
    padding: 60px;
  }
  .profileGrid {
    flex-direction: column;
  }
}

@media screen and (min-width: 1350px) {
  .graphsColumn {
    width: 100%;
  }
}