// BAR CHART SECTION

.barChartContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;

  width: 100%;
  height: 320px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 24px 26px 23px 32px;
  background-color: var(--lightGray-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
}

.headerBarChart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.titleHeader {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  color: var(--darkBlue-color);
}

.legendContainer {
  display: flex;
  flex-direction: row;

  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--gray-color);
}

.legendWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;

  &:first-child {
    margin-right: 32px;
  }
}

.roundLegend {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  margin-right: 10px;

  &.weight {
    background: var(--darkGray-color);
  }
  &.calories {
    background: var(--primary-color);
  }
}

.customTooltip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 40px;
  height: 63px;
  padding: 4px 0;
  color: #fff;
  background: var(--primary-color);
  text-align: center;
  outline: none;

  p {
    font-size: 7px;
    font-weight: 500;
    line-height: 24px;
  }
}
