.headerInfo {
  padding-top: 68px;
  margin-bottom: 77px;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 41px;

  span {
    color: var(--primary-color);
  }
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}