// google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// variables
:root {
  --font-stack: 'Roboto', sans-serif;
  --primary-color: #E60000;
  --secondary-color: #020203;
  --tertiary-color: #74798C;

  --lightGray-color: #FBFBFB;
  --gray-color: #74798C;
  --darkGray-color: #282D30;

  --darkBlue-color: #20253A;

  --heightHeader: 91px;
  --widthSideNav: 117px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  box-sizing: border-box;
  font-family: var(--font-stack);
}

.p-50 {
  padding: 50px;
}